@{
    ViewData["Title"] = "About";
}
<div class="page-header page-header-small" style="background-image: url('../img/banner.png');">
    <div class="filter filter-primary"></div>
    <div class="content-center">
        <div class="container">
            <h1>Hi, <br /> I am Yomi Olatunji.</h1>
            <h3>A Software Engineer</h3>
        </div>
    </div>
</div>
<div class="main about-us">
    <div class="section">
        <div class="container">
            <h2 class="title title-uppercase">About Me</h2>
            <p>
                Welcome to my website! I am a seasoned software engineer based in Lagos, Nigeria with over 8 years of experience working in the Financial, Insurance, Educational and Healthcare sectors. My expertise lies in automating processes and developing mobile and web applications. I have a wealth of knowledge and experience with dozens of programming languages and technologies, but my favorite is .NET.
            </p>
            <p>

                My journey in software engineering began in 2009, during the ASUU strike when I started learning HTML on my Nokia 5130 phone. Since then, I have come a long way, developing my skills and knowledge along the way. In 2011, I began Backend development with PHP, and in 2013, I switched my major programming language to C#.
            </p>
            <p>
                In 2014, I started my first job at Ecobank, where I honed my skills in full-stack development. I also began developing Android applications during this time. I left Ecobank in 2015, but returned a year later as a full-time staff member, where I continued to work on dotnet development.
            </p>
            <p>
                In 2017, I joined Union bank, where I was recognized for my exceptional work with both the CEO Award and the CFO Award for Excellence of Service in 2019.
                After joining Access Bank in 2020, I eventually moved on to become a Senior Software Engineer at First Bank in 2021 before joining Cavista in 2022.
            </p>
            <p>
                I am passionate about creating innovative solutions that help solve real-world problems. I am also committed to continuous learning and keeping up with the latest trends and technologies in the software engineering industry. Thank you for visiting my website, and I hope you find it informative and useful.
            </p>
        </div>
    </div>
</div>
