@{
    ViewData["Title"] = "About";
}
<div class="page-header page-header-small" style="background-image: url('../img/banner.png');">
    <div class="filter filter-primary"></div>
    <div class="content-center">
        <div class="container">
            <h1>Hi, <br /> I am Yomi Olatunji.</h1>
            <h3>A Software Engineer</h3>
        </div>
    </div>
</div>
<div class="main about-us">
    <div class="section">
        <div class="container">
            <h2 class="title title-uppercase">About Me</h2>
            <p>
                I'm Yomi, a senior software engineer with a passion for creating innovative solutions. With almost a decade of experience, I have a proven track record of delivering successful projects on time and under budget. I prioritize quality and customer satisfaction in everything I do.
            </p>
            <p>
                Currently, I work at Cavista Technologies as a Senior Engineer. I enjoy mentoring junior developers and collaborating with cross-functional teams to deliver high-quality software using agile methodologies.
            </p>
            <p>
                Previously, I held positions at First Bank PLC, Union Bank of Nigeria, Ecobank Nigeria, and Mobile Knowledge Solutions. Throughout my career, I have led teams, developed efficient applications, and automated processes to improve efficiency and accuracy.
            </p>
            <p>
                I'm proficient in various programming languages and technologies, including .NET frameworks, RESTful APIs, and C#. I have experience with databases, microservices architecture, and cloud computing. I'm always eager to learn and stay updated with the latest industry trends.
            </p>
            <p>
                In my free time, I indulge in hobbies such as playing chess, reading, and playing the guitar. I also volunteer as a mentor and board member for the Knowledge and Skill Forum, supporting students in acquiring technology and programming skills.
            </p>
            <p>
                Thank you for visiting my website. Feel free to reach out to me using the provided contact information. I look forward to connecting with you!
            </p>
        </div>
    </div>
</div>
